*{
    margin: 0;
}
body{
    margin-top: 20px;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.coluna div{
    width: 200px;
    height: 200px;
    background-color: grey;
    display: flex;
    border: 5px black solid;
}