*{
    margin: 0;
}
body{
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: black;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.linha div{
    width: 200px;
    height: 200px;
    background-color: grey;
    display: flex;
    border: 5px black solid;
}
section{
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.quadrado{
    font-size: 60pt;
}
.boxtext{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
button{
  margin-top: 10px;
}
h2{
    margin-top: 20px;
    color: magenta;
}


